@model MIS4200Team2.Models.UserDetails

@{
    ViewBag.Title = "Details";
}
<br />
<br />

<a onclick="goBack()">Go Back</a>

<br />
<br />

<div class="row">
    <!-- Profile Panel -->
    <div class="col-md-4">


        <div class=" ">
            @{

                string userID = Convert.ToString(ViewBag.userID);
                string URL = HttpContext.Current.Request.Url.AbsoluteUri;

                //if logged in user is viewing their own profile - show edit profile button
                if (URL.Contains(userID))
                {
                    <div  class="panel-heading"><strong>Profile</strong> (@Html.ActionLink("edit", "Edit", new { id = Model.ID }))</div>
                }
                //if logged in and not viewing your own profie - do not show edit button
                else
                {
                    <div  class="panel-heading"><h1 style="color:orange;">User Profile</h1></div>
                }
            }


            <div class="panel-body">
                <strong>@Html.DisplayFor(model => model.firstName) @Html.DisplayFor(model => model.lastName)</strong>
                <br /><br />

                @{
                    string strFilePath = Convert.ToString(@Url.Content("~/Images/"));
                    string strFilePath2 = Convert.ToString(@Html.DisplayFor(model => model.photo));

                    string strFilePathFull = strFilePath + strFilePath2;

                    string strProfilePicture = "";

                    string strJobTitle = Convert.ToString(@Html.DisplayFor(model => model.JobTitle)).Replace("_", " ");
                    string strOpGroup = Convert.ToString(@Html.DisplayFor(model => model.operatingGroups)).Replace("_", " ");
                    string strLocations = Convert.ToString(@Html.DisplayFor(model => model.locations)).Replace("_", " ");

                    if (strFilePathFull == "/Images/")
                    {
                        strProfilePicture = "Avatar.png";
                    }
                    else
                    {
                        strProfilePicture = strFilePath2;
                    }
                }

                <img src="@Url.Content("~/Images/")@strProfilePicture" width="125" />

                <br /><br />

                <strong>Birthday</strong> : @Html.DisplayFor(model => model.birthDate)
                <br />
                <strong>Email</strong> : @Html.DisplayFor(model => model.Email)
                <br />
                <strong>@Html.DisplayNameFor(model => model.PhoneNumber)</strong> : @Html.DisplayFor(model => model.PhoneNumber)
                <br />
                <strong>@Html.DisplayNameFor(model => model.startDate)</strong> : @Html.DisplayFor(model => model.startDate)
                <br />
                <strong>@Html.DisplayNameFor(model => model.JobTitle)</strong> : @strJobTitle
                <br />
                <strong>@Html.DisplayNameFor(model => model.operatingGroups)</strong> : @strOpGroup
                <br />
                <strong>@Html.DisplayNameFor(model => model.locations)</strong> : @strLocations
                <br />
            </div>
        </div>
    </div>

</div>



